@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    text-decoration: none;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
}


html {
  scroll-behavior: smooth;
}


:root {
    --color_bg_page: #FDFDFD;
    --color_destaque: #ff5634;
    --color_destaque_hover: #e13f1f;
    --color_font_black_primary: #121212;
    --color_black_secundary: #656565;
    --color_font_white: #ffffff;
}


body {
    background-color: #fafafa;
    color: var(--color_font_black_primary);
}
main {
    max-width: 800px;
    margin: 0 auto;
    
    border-radius: 30px;
    overflow: hidden;
    transition: 200ms;
    
}
.sem-foco {
    filter: brightness(40%) blur(3px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}
section {
    padding: 100px 70px;
}

h1 {
    font-size: 38px;
    font-weight: 700;
    margin-top: 24px;
    margin-bottom: 10px;
    line-height: 3rem;
}

h2 {
    font-size: 32px;
    margin-bottom: 12px;
    line-height: 2rem;
}

h3 {
    font-size: 22px;
    margin-bottom: 16px;
    line-height: 2rem;
}

h4 {
    font-size: 20px;
    margin-bottom: 12px;
    font-weight: 500;
    line-height: 1.2rem;
}

p, a {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    color: var(--color_black_secundary);
    line-height: 1.2rem;
}

.span_destaque {
    color: var(--color_destaque);
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 700;
}

button, .a-button {
    padding: 20px 20px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 600;
    width: 220px;
    background-color: transparent;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    transition: 400ms;
    margin: 10px 20px;
    cursor: pointer;
}button:hover, .a-button:hover {
    background-color: var(--color_destaque);
    color: var(--color_font_white);
}
hr {
    height: .5px;
    width: 100%;
    background-color: #cacaca;
    margin: 50px 0;
}