@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    border: 0;
    padding: 0;
    text-decoration: none;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/* 

background-color: var(--corPrincipal);
background-color: var(--corBgBranco);
color: var(--corFonteBranco);

*/

:root {

    /* Variáveis de cores */
    --corPrincipal: #ff5634;
    --corSecundária: ;

    /* cores de backgrounds */
    --corBgBranco: #fdfdfd;
    --corBgPreto: #121212;

    /* cores de fontes */
    --corFonteBranco: #fff;
    --corFontePreto: #121212;

}

html {
    scroll-behavior: smooth;
  }
  

main {
    margin: 0 auto;
    overflow: hidden;
    transition: 200ms;
}
.sem-foco { /* efeito no main quando carrinho está ativado*/
   filter: brightness(40%) blur(5px);
   backdrop-filter: brightness(80%);
}



.div-content-sec {
    max-width: 1100px;
    margin: 0 auto;
    position: relative;
}

h1 {
    font-size: 52px;
    font-weight: 700;
    margin-top: 24px;
    margin-bottom: 10px;
    line-height: 3.1rem;
}

h2 {
    font-size: 32px;
    margin-bottom: 16px;
    line-height: 2rem;
    color: var(--corFontePreto);
}

h3 {
    font-size: 26px;
    margin-bottom: 14px;
    line-height: 2rem;
    color: var(--corFontePreto);
}

h4 {
    font-size: 20px;
    margin-bottom: 12px;
    font-weight: 500;
    line-height: 1.2rem;
}

p, a {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
    color: var(--corFontePreto);
    line-height: 1.2rem;
}


button, .a-button {
    padding: 20px 20px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    width: 220px;
    background-color: transparent;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    transition: 400ms;
    margin: 10px 20px;
    cursor: pointer;
}button:hover, .a-button:hover {
    background-color: var(--corPrincipal);
    color: var(--corFonteBranco);
}
.button2, .a-button2 {
    color: var(--corFonteBranco);
    padding: 20px 20px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    width: 220px;
    background-color: var(--corPrincipal);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    transition: 400ms;
    margin: 10px;
    cursor: pointer;
    transition: 200ms;
}.button2:hover, .a-button2:hover {
    background-color: var(--corPrincipal);
    color: var(--corFonteBranco);
}
.categoria {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 44px;
    text-decoration: underline;
}