@media (max-width: 650px) {

/* === CARRINHO === */
#btn-carrinho {
    color: transparent;
    width: 200px;
}
.material-symbols-outlined {
    color: white;
    left: 50%;
    transform: translate(-50%);
}
/* === CARRINHO === */





/*  === HEADER === */
header .a-button, header .a-button2 {
    display: none;
}
/*  === HEADER === */





/* === GLOBAL === */
h1 {
    font-size: 42px;
}
main {
    margin: 0 auto;
    border-radius: 0;
}
section {
    padding: 70px 20px;
}
button {
    width: 80%;
    display: block;
    margin: 20px auto;
}
/* === GLOBAL === */




/* === SEC_INICIO === */
.cr-inicio, .text2-inicio, .bem-vindo, #h1-header  {
    text-align: center;
}
.bem-vindo {
    margin: 0 auto;
}
#div-btns-inicio {
    flex-direction: column;
}
#btn1, #btn2  {
    width: 100%;
}

/* === SEC_INICIO === */



/* === SEC_PRODUTOS === */

/* === SEC_PRODUTOS === */







.btns-captura {
    flex-direction: column;
}
.btns-captura .a-button {
    width: 100%;
}

}