@import url('global.css');




/* === CARRINHO === */
#btn-mostrar-carrinho {
    display: block;
    position: fixed;
    z-index: 900;
    background-color: var(--color_destaque);
    color: white;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
    width: 400px;
    padding: 20px;
    font-weight: 600;
    border-radius: 30px;
}
.janela-carrinho {
    bottom: -80vh;
    position: fixed;
    z-index: 1000;
    background-color: var(--color_destaque);
    width: 80%;
    max-width: 500px;
    min-height: 30vh;
    max-height: 50vh;
    left: 50%;
    transform: translate(-50%);
    border-radius: 30px 30px 0 0;
    padding: 20px 20px 100px 20px;
    overflow-y: auto;
    transition: 400ms;
    opacity: 0;
} .janela-carrinho-ativada {
    bottom: 0;
    opacity: 1;
}
/* === CARRINHO === */








/* === HEADER === */
header {
    height: 70px;
    width: 100%;
    padding: 50px 0;
    box-sizing: border-box;
    /* box-shadow: 0 .5px 10px rgba(0, 0, 0, 0.123); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    display: block;
    font-weight: 700;
    text-align: left;
    color: var(--color_font_white);
    font-size: 1.5rem;
}
/* === HEADER === */





/* === SEC_INICIO === */
#inicio {

    padding-top: 0px;
    background-image: url('../img/bg-inicio.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 100vw 100vh 100px rgba(0, 0, 0, 0.507);
    border-radius: 0 0 30px 30px;
}
.div-content-sec {
    max-width: 1100px;
    margin: 0 auto;
}
#h1-header {
    text-transform: uppercase;
    color: var(--color_font_white);
}
#inicio p, #inicio h2{
    color: var(--color_font_white);
}
#div-btns-inicio {
    margin: 30px 0;
}
#btn1 {
    background-color: var(--color_destaque);
    color: var(--color_font_white);
    transition: 400ms;
} #btn1:hover {
    background-color: var(--color_destaque_hover);
}
.skills {
    display: none;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}
.skills h2, .skills p {
    margin: 0;
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.623);
}
#inicio button {
    color: var(--color_font_white);
}
.icon {
    font-size: 40px;
    margin: 0;
    text-shadow: 0px 0px 10px var(--color_destaque);
}
/* === SEC_INICIO === */





/* === SEC_PRODUTOS === */
.nav-categorias {
    display: flex;
    justify-content: left;
    overflow-x: auto;
}
.item-nav-categorias {
    display: block;
    color: var(--color_font_black_primary);
    border-radius: 30px;
    margin: 38px 10px 48px 10px;
    margin-bottom: 48px;
    padding: 15px 22px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: 300ms;
} .item-nav-categorias:hover {
    background-color: var(--color_destaque);
    color: white;
}
/* === DIV_PRODUTOS === */
.div-produtos {
    display: flex;
    width: 100%;
    max-width: 1100px;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}
.div-produto {
    width: 320px;
    margin: 0 auto;
    margin-bottom: 50px;
    border-radius: 30px;
} .div-produto:hover  .nome-produto {
    color: var(--color_destaque);
} .div-produto:hover .img-produto {
    transform: scale(1.1);
}
.div-img-produto {
    width: 100%;
    height: 320px;
    overflow: hidden;
    border-radius: 30px;
    position: relative;
    margin-bottom: 10px;
}
.img-produto {
    width: 100%;
    aspect-ratio: 1/1;
    cursor: pointer;
    transition: 300ms;
    object-fit: contain;
}
.nome-produto {
    margin: 0;
    margin-bottom: 10px;
    text-align: start;
    transition: 200ms;
    cursor: pointer;
    line-height: 32px;
}
.valor-produto {
    margin: 0;
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 5px 20px;
    background-color: white;
    border-radius: 30px;
    font-weight: 500;
    font-size: 18px;
    color: var(--color_black_secundary);
}
 .desc-produto {
    text-align: start;
    overflow: hidden;
    transition: 300ms;
    margin-bottom: 10px;
 }

 .btn-produto {
    display: block;
    box-shadow: none;
    width: auto;
    margin: 0;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 30px;
    background-color: var(--color_destaque);
    color: var(--color_font_white);
    position: relative;
 } .btn-produto:hover {
    background-color: var(--color_destaque_hover);
 }
/* === DIV_PRODUTOS === */
/* === SEC_PRODUTOS === */