@import url('global.css');




/* === CARRINHO === */
.div-btn-carrinho {
    z-index: 1000;
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);
}
#btn-carrinho {
    display: block;
    background-color: var(--color_destaque);
    border-radius: 20px;
    color: var(--color_font_white);
    width: 80vw;
    padding: 20px 30px;
    width: 300px;
    position: relative; 
    transition: 300ms;
} #btn-carrinho:hover {
    background-color: var(--color_destaque_hover);
}
.material-symbols-outlined {
    transition: 300ms;
    position: absolute;
    left: 80px;
    scale: 1.5;
}
/* === CARRINHO === */








/* === HEADER === */
header {
    height: 70px;
    width: 100%;
    padding: 50px 0;
    box-sizing: border-box;
    /* box-shadow: 0 .5px 10px rgba(0, 0, 0, 0.123); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    display: block;
    font-weight: 700;
    text-align: left;
    color: var(--color_font_white);
    font-size: 1.5rem;
}
/* === HEADER === */





/* === SEC_INICIO === */
#inicio {

    padding-top: 0px;
    background-image: url('../img/bg-inicio.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: inset 100vw 100vh 100px rgba(0, 0, 0, 0.507);
    border-radius: 0 0 30px 30px;
}
.div-content-sec {
    max-width: 1100px;
    margin: 0 auto;
}
#h1-header {
    text-transform: uppercase;
    color: var(--color_font_white);
}
#inicio p, #inicio h2{
    color: var(--color_font_white);
}
#div-btns-inicio {
    margin: 30px 0;
}
#btn1 {
    background-color: var(--color_destaque);
    color: var(--color_font_white);
    transition: 400ms;
} #btn1:hover {
    background-color: var(--color_destaque_hover);
}
.skills {
    display: none;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}
.skills h2, .skills p {
    margin: 0;
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.623);
}
#inicio button {
    color: var(--color_font_white);
}
.icon {
    font-size: 40px;
    margin: 0;
    text-shadow: 0px 0px 10px var(--color_destaque);
}
/* === SEC_INICIO === */





/* === SEC_PRODUTOS === */
.nav-categorias {
    display: flex;
    justify-content: left;
    overflow-x: auto;
}
.item-nav-categorias {
    display: block;
    color: #bbb;
    border: 2px solid #bbb;
    width: 200px;
    border-radius: 20px;
    margin: 10px;
    padding: 10px 20px;

}
/* === DIV_PRODUTOS === */
.div-produtos {
    display: flex;
    width: 100%;
    max-width: 1100px;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}
.div-produto {
    width: 320px;
    margin: 0 auto;
} .div-produto:hover  .nome-produto {
    color: var(--color_destaque);
} .div-produto:hover .img-produto {
    transform: scale(1.1);
}
.div-img-produto {
    width: 100%;
    height: 320px;
    overflow: hidden;
    border-radius: 30px;
    position: relative;
}
.img-produto {
    width: 100%;
    aspect-ratio: 1/1;
    cursor: pointer;
    transition: 300ms;
    object-fit: contain;
} .img-produto:hover {
    box-shadow: 0px 0px 4px var(--color_destaque);
}
.nome-produto {
    margin: 0;
    text-align: start;
    transition: 200ms;
    cursor: pointer;
}
.valor-produto {
    margin: 0;
    margin-bottom: 6px;
    text-align: start;
    position: relative;
}
 .desc-produto {
    text-align: start;
    height: 0px;
    overflow: hidden;
    transition: 300ms;
    visibility: hidden;
    margin: 5px;
 }
 .div-produto:hover  .desc-produto{
    height: auto;
    visibility: visible;
}
 .btn-produto {
    width: 100%;
    margin: 0;
    color: var(--color_font_black_primary);
    padding: 10px;
    font-size: 1.5rem;
 }
/* === DIV_PRODUTOS === */
/* === SEC_PRODUTOS === */