@import url('global.css');




/* === CARRINHO === */
.janela-carrinho {
    position: fixed;
    z-index: 1000;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.01);
    width: 100%;
    max-width: 600px;
    right: -530px;
    height: 100%;
    overflow-y: auto;
    transition: 200ms;
    opacity: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
} .janela-carrinho-ativada {
    opacity: 1;
    right: 0;
}
#btn-fechar-carrinho {
    position: sticky;
    top: 0;
    margin: 0 auto 40px;
    background-color: var(--color_destaque);
    color: white;
}
#carrinho .a-button {
    background-color: green;
    color: white;
    margin: 20px;
}
#carrinho button {
    width: auto;
    padding: 10px;
}
.header-carrinho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
    background-color: white;
}
.header-carrinho span {
    display: block;
    font-size: 1.2rem;
    font-weight: 600;
}
#carrinho {
    padding: 100px 20px;
}
.div-chckout {
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    gap: 8px;
    margin-bottom: 10px;
}
.btn-carrinho{
    display: block;
    padding: 20px 20px;
    font-weight: 600;
    width: 80%;
    margin: 0px auto;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 200ms;
    background-color: white;
}
.btn-carrinho:hover {
    scale: 0.9;
}
#link-whatsapp {
    background-color: var(--color_destaque);
    border-radius: 30px;
    color: white;
}
#carrinho button {
    display: inline;
}

.li-item-carrinho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border-bottom: 0.1px solid var(--color_black_secundary);
}
.li-item-carrinho p, .li-item-carrinho span {
    text-align: left;
    font-weight: 500;
    line-height: 1.2rem;
    margin: 0;
    color: var(--color_black_secundary);
}
.btn-acao-carrinho {
    margin: 8px;
    display: block;
}
.btn-acao-carrinho:hover {
    scale: 0.9;
}
.div2-item-carrinho {
    display: flex;
    gap: 10px;
    align-items: center;
}
.span-remover {
    text-decoration: underline var(--color_black_secundary) 1.5px;
    cursor: pointer;
}
.total-carrinho {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 20px;
    margin: 10px;
}
/* === CARRINHO === */








/* === HEADER === */
header {
    position: fixed;
    width: 100%;
    z-index: 900;
    backdrop-filter: blur(5px);
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    padding: 0 70px;
    box-sizing: border-box;
    transition: 200ms;
}
.scrollHide {
    opacity: 0;
    translate: 0 -50px;
}
header .div-content-sec {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
}
.logo {
    display: block;
    font-weight: 600;
    text-align: left;
    color: black;
    font-size: 1.5rem;
    transition: 200ms;
}.logo:hover {
    scale: 0.9;
}
.nav-header {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
header .a-button, header .a-button2 {
    padding: 15px 24px;
    margin: 0;
    display: block;
    width: auto;
}
.div-carrinho-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.div-carrinho-link span {
    font-weight: 600;
    display: block;
}
.icons {
    width: 40px;
    display: block;
    transition: 200ms;
}.icons:hover {
    scale: 0.9;
}
/* === HEADER === */





/* === SEC_INICIO === */
.cr-inicio {
    font-weight: 500;
    transition: 200ms;
    font-size: 0.7rem;
    color: var(--color_font_white);
    filter: brightness(0.8);
    text-align: start;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.548);
}
.cr-inicio a {
    text-decoration: underline;
    color: var(--color_font_white);
    font-size: 0.7rem;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.548);
}
.cr-inicio:hover {
    scale: .99;
}
.text2-inicio {
    color: var(--color_font_white);
    font-weight: 600;
    text-align: start;
}
#inicio {
    padding-top: 150px;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0 0 20px 20px;
    background-image: url("../img/bg-inicio2.png");
    box-sizing: border-box;
    box-shadow: inset 50vw 0px 400px #00000075;
}
.bem-vindo {
    color: var(--color_destaque);
    text-align: start;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.2rem;
    background-color: var(--color_font_white);
    border-radius: 10px;
    width: fit-content;
    padding: 10px;
}
#h1-header {
    margin-top: 0;
    text-transform: uppercase;
    color: var(--color_font_white);
    text-align: start;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.452);
}
#div-btns-inicio {
    margin: 30px 0;
    display: flex;
    justify-content: start;
    gap: 6px;
}
#btn1 {
    background-color: var(--color_destaque);
    transition: 400ms;
    color: var(--color_font_white);
    margin: 0;
} #btn1:hover {
    background-color: var(--color_destaque_hover);
}
#btn2 {
    color: var(--color_font_white);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    margin: 0;
}
#btn2:hover {
    color: var(--color_font_white);
}

.skills h2, .skills p {
    margin: 0;
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.623);
}
.icon {
    font-size: 40px;
    margin: 0;
    text-shadow: 0px 0px 10px var(--color_destaque);
}
/* === SEC_INICIO === */





/* === SEC_PRODUTOS === */
#produtos {
    position: relative;
}
.nav-categorias {
    display: flex;
    justify-content: left;
    overflow-x: auto;
    margin-bottom: 24px;
}
.item-nav-categorias {
    display: block;
    color: var(--color_black_secundary);
    background-color: var(--color_font_white);
    font-weight: 600;
    border-radius: 10px;
    font-size: 1.2rem;
    margin: 10px;
    padding: 15px 22px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: 200ms;
    display: flex;
    align-items: center;
    gap: 8px;
} .item-nav-categorias:hover {
    background-color: var(--color_destaque);
    color: white;
    scale: .9;
}
.item-nav-categorias p {
    display: block;
    margin: 0;
    font-size: 1.1rem;
    font-weight: 600;
    top: 0;
    position: sticky;
    position:-webkit-sticky; 
}
.item-nav-categorias:hover  p  {
    color: white;
}
.icon-item-categoria {
    width: 40px;
    display: block;
    top: 0;
    position: sticky;
    position:-webkit-sticky; 
}
.content-produtos {
    background-color: var(--color_font_white);
    border-radius: 10px;
    padding: 40px 31px 54px;
    margin-bottom: 32px;
    box-shadow: 0 2px 12px 0 rgba(16, 16, 16, 0.08);
    border-radius: 24px;
}

/* === DIV_PRODUTOS === */
.div-produtos {
    width: 100%;
    max-width: 1100px;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
}
.div-produto {
    width: 320px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 10px;
} .div-produto:hover  .nome-produto {
    color: var(--color_destaque);
} .div-produto:hover .img-produto {
    transform: scale(1.1);
}
.div-img-produto {
    width: 100%;
    /* height: 320px; */
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 30px;
    position: relative;
    margin-bottom: 10px;
}
.img-produto {
    width: 100%;
    aspect-ratio: 1/1;
    cursor: pointer;
    transition: 300ms;
    object-fit: contain;
}
.nome-produto {
    margin: 0;
    margin-bottom: 10px;
    text-align: start;
    transition: 200ms;
    cursor: pointer;
    line-height: 32px;
    font-size: 22px;
}
.valor-produto {
    margin: 0;
    position: absolute;
    bottom: 10px;
    right: 10px;
    padding: 5px 20px;
    background-color: white;
    border-radius: 30px;
    font-weight: 500;
    font-size: 18px;
    color: var(--color_black_secundary);
}
 .desc-produto {
    text-align: start;
    overflow: hidden;
    transition: 300ms;
    margin-bottom: 10px;
 }

 .btn-produto {
    display: block;
    box-shadow: none;
    width: auto;
    margin: 0;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 10px;
    background-color: var(--color_destaque);
    color: var(--color_font_white);
    position: relative;
 } .btn-produto:hover {
    background-color: var(--color_destaque_hover);
 }
/* === DIV_PRODUTOS === */
/* === SEC_PRODUTOS === */





/* === SEC_CAPTURA=== */
#captura, #captura h2 {
    background-color: var(--color_font_black_primary);
}
#content-captura h2{
    color: white;
    text-align: start;
}
#content-captura p {
    color: var(--color_font_white);
    filter: brightness(0.8);
    text-align: start;
}
.btns-captura {
    display: flex;
    justify-content: start;
    gap: 8px;
}
.btns-captura .a-button {
    display: block;
    margin: 0;
}
.b1-captura {
    background-color: var(--color_destaque);
    color: var(--color_font_white);
}
.b2-captura {
    color: var(--color_font_white);
}
/* === SEC_CAPTURA=== */





/* === FOOTER === */
.copyrigth {
    background-color: var(--color_font_black_primary);
    color: white;
    padding: 20px;
    font-weight: 600;
}
.copyrigth a {
    background-color: var(--color_font_black_primary);
    color: white;
    text-decoration: underline;
    font-weight: 600;
    cursor: pointer;
}
/* === FOOTER === */