@import url('global.css');









/* === HEADER === */
header {
    position: fixed;
    width: 100%;
    z-index: 900;
    backdrop-filter: blur(5px);
    background-color: var(--corBgBranco);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 0 100px;
    box-sizing: border-box;
}
.scrollHide {
    opacity: 0;
    translate: 0 -50px;
}
header .div-content-sec {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1100px;
    padding: 0;
}
/* .logo {
    display: block;
    font-weight: 600;
    text-align: left;
    color: var(--corFontePreto);
    font-size: 1.5rem;
}.logo:hover {
    scale: 0.9;
} */
.a-logo-header {
    display: flex;
    margin: 0;
    justify-content: center;align-items: center;
}
.logo-header {
    width: 90px;
}
.nav-header {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
header .a-button, header .a-button2 {
    padding: 15px 24px;
    margin: 0;
    display: block;
    width: auto;
}
.div-carrinho-link {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.div-carrinho-link span {
    font-weight: 600;
    display: block;
}
.icons {
    width: 40px;
    display: block;
}
/* === HEADER === */






/* === CARRINHO === */
.janela-carrinho {
    position: fixed;
    z-index: 1000;
    background-color: var(--corBgBranco);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.01);
    width: 100%;
    max-width: 600px;
    right: -100%;
    height: 100%;
    overflow-y: auto;
    /* opacity: 0; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 200ms;
}
.janela-carrinho-ativada {
    /* opacity: 1; */
    right: 0;
}
#btn-fechar-carrinho {
    position: sticky;
    top: 0;
    margin: 0 auto 40px;
    background-color: var(--corPrincipal);
    color: var(--corFonteBranco);
}
#carrinho .a-button {
    background-color: red;
    color: red;
    margin: 20px;
}
#carrinho button {
    width: auto;
    padding: 10px;
}
.header-carrinho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    position: fixed;
    width: 100%;
    max-width: 600px;
    box-sizing: border-box;
    background-color: var(--corBgBranco);
    z-index: 900;
}
.header-carrinho span {
    display: block;
    font-size: 1.2rem;
    font-weight: 600;
}
#carrinho {
    padding: 100px 20px;
}
.div-chckout {
    position: fixed;
    bottom: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px;
    gap: 8px;
    margin-bottom: 10px;
}
.btn-carrinho{
    display: block;
    padding: 20px 20px;
    font-weight: 600;
    width: 80%;
    margin: 0px auto;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    background-color: var(--corBgBranco);
    text-align: center;
    border-radius: 10px;
}
.btn-carrinho:hover {
    scale: 0.9;
}
#link-whatsapp {
    background-color: var(--corPrincipal);
    border-radius: 10px;
    color: var(--corFonteBranco);
}
#carrinho button {
    display: inline;
}

.li-item-carrinho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border-bottom: 0.1px solid var(--corBgPreto);
}
.li-item-carrinho p, .li-item-carrinho span {
    text-align: left;
    font-weight: 500;
    line-height: 1.2rem;
    margin: 0;
    color: var(--corBgPreto);
}
.btn-acao-carrinho {
    margin: 8px;
    display: block;
}
.btn-acao-carrinho:hover {
    scale: 0.9;
}
.div2-item-carrinho {
    display: flex;
    gap: 10px;
    align-items: center;
}
.span-remover {
    text-decoration: underline var(--corFontePreto) 1.5px;
    cursor: pointer;
}
.total-carrinho {
    font-size: 1.2rem;
    font-weight: 600;
    padding: 20px;
    margin: 10px;
}
/* === CARRINHO === */





/* === SEC_INICIO === */

#inicio {
    background-color: var(--corBgPreto);
    background-image: url("../img/color-bg.png");
    /* background-image: linear-gradient(90deg, #0D1216, #7e7e7e); */
    background-position: center center;
    background-size: cover;
    /* background-image: url("../img/bg-inicio3.png"); */
    background-repeat: no-repeat;

    padding-top: 150px;
    padding-bottom: 100px;
    box-sizing: border-box;

    position: relative;
    /* box-shadow: inset 50vw 0px 400px #00000075; */
}

#inicio * {
    z-index: 100;
}
#imgParalax {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 55%;
    width: 40rem;
    transition: 400ms;
}
#imgParalaxFolhas {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    width: 80rem;
    opacity: 0.8;
    z-index: 0;
}

.bem-vindo {
    color: var(--corPrincipal);
    text-align: start;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 22px;
    background-color: var(--corBgBranco);
    border-radius: 10px;
    width: fit-content;
    padding: 10px;
}

h1 {
    margin: 20px 0px;
    text-transform: uppercase;
    color: var(--corFonteBranco);
    text-align: start;
    text-shadow: 0 0 20px rgba(0, 0, 0, 5);
}

.text2-inicio {
    color: var(--corFonteBranco);
    font-weight: 600;
    text-align: start;
    opacity: 0.8;
}

#div-btns-inicio {
    margin: 30px 0;
    display: flex;
    justify-content: start;
    gap: 10px;
}

#btn1 {
    background-color: var(--corPrincipal);
    color: var(--corFonteBranco);
    margin: 0;
}
#btn1:hover {
    filter: brightness(80%);
}
#btn2 {
    color: var(--corFonteBranco);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
    margin: 0;
    color: var(--corFontePreto);
    background-color: var(--corBgBranco);
}
#btn2:hover {
    background-color: var(--corPrincipal);
    color: var(--corFonteBranco);
    filter: brightness(80%);
}
.cr-inicio { /*Direitos autorais*/
    font-weight: 500;
    font-size: 0.8rem;
    color: var(--corFonteBranco);
    text-align: start;
    opacity: 0.8;
}
.cr-inicio a {
    text-decoration: underline;
    color: var(--corFonteBranco);
    font-size: 0.8rem;
    opacity: 0.8;
}

.skills h2, .skills p {
    margin: 0;
    text-shadow: 0px 0px 2px rgba(255, 255, 255, 0.623);
}
.icon {
    font-size: 40px;
    margin: 0;
    text-shadow: 0px 0px 10px var(--color_destaque);
}
.seta-role-pagina {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}
.seta-role-pagina img {
    filter: invert(100%) sepia(5%) saturate(19%) hue-rotate(92deg) brightness(104%) contrast(104%);
    width: 15px;
    opacity: 0.8;

}
.seta-role-pagina p {
    color: var(--corFonteBranco);
    
    opacity: 0.8;
    margin: 0;
    padding: 0;
    font-weight: 600;
}
/* === SEC_INICIO === */

















/* === SEC_PRODUTOS === */
#produtos {
    position: relative;
}
.nav-categorias {
    display: flex;
    justify-content: left;
    overflow-x: auto;
    margin-bottom: 24px;
}
.item-nav-categorias {
    display: block;
    background-color: var(--corBgBranco);
    font-weight: 600;
    border-radius: 10px;
    font-size: 1.2rem;
    margin: 10px;
    padding: 15px 22px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    gap: 8px;
}
.item-nav-categorias:hover {
    background-color: var(--corPrincipal);
    color: white;
}
.item-nav-categorias p {
    display: block;
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    top: 0;
    position: sticky;
    position:-webkit-sticky; 
    color: var(--corFontePreto);
}
.item-nav-categorias:hover  p  {
    color: var(--corFonteBranco);
}
.icon-item-categoria {
    width: 40px;
    display: block;
    top: 0;
    position: sticky;
    position:-webkit-sticky; 
}


/* === DIV_PRODUTOS === */
.div-produtos {
    width: 100%;
    max-width: 1100px;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(3 , 1fr);
    align-items: start;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 20px;
}
.div-produto {
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 10px;
} .div-produto:hover  .nome-produto {
    color: var(--corPrincipal);
    opacity: 1;
} .div-produto:hover .img-produto {
    transform: scale(1.1);
}
.div-img-produto {
    width: 100%;
    /* height: 320px; */
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    margin-bottom: 5px;
}
.img-produto {
    width: 100%;
    aspect-ratio: 1/1;
    cursor: pointer;
    object-fit: contain;
}
.nome-produto {
    margin: 0;
    margin-bottom: 5px;
    text-align: start;
    cursor: pointer;
    line-height: 1.3rem;
    font-size: 16px;
    opacity: 0.8;
}
.valor-produto {
    margin: 0;
    position: absolute;
    bottom: 8px;
    right: 10px;
    padding: 5px 20px;
    background-color: var(--corFonteBranco);
    border-radius: 30px;
    font-weight: 600;
    font-size: 18px;
    color: var(--corFontePreto);
}
 .desc-produto {
    text-align: start;
    overflow: hidden;
    line-height: 1rem;
    margin-bottom: 5px;
 }

 .btn-produto {
    display: block;
    box-shadow: none;
    width: auto;
    margin: 0;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 10px;
    background-color: var(--corPrincipal);
    color: var(--corFonteBranco);
    position: relative;
 }
 .btn-produto:hover {
    filter: brightness(80%);
 }
/* === DIV_PRODUTOS === */
/* === SEC_PRODUTOS === */





/* === SEC_CAPTURA=== */

/* === SEC_CAPTURA=== */





/* === FOOTER === */
footer {
    background-color: var(--corBgPreto);
    color: var(--corFonteBranco);
    padding: 50px 100px;
}
footer  .div-content-sec {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
}
.div-footer {
    text-align: center;
}
.div-footer h2 {
    color: var(--corPrincipal);
    font-weight: 600;
    font-size: 26px;
}
.div-footer p {
    line-height: 1;
}
.logo-footer {
    width: 100px;
}
.logo-footer span {
    color: var(--corPrincipal);
    font-size: 22px;
}
.ul-redes-sociais-footer {
    display: flex;
    justify-content: center;
    gap: 5px;
}
.ul-redes-sociais-footer a{
    font-family: "icons";
    color: var(--corFonteBranco);
    font-size: 35px;
}

.div-contato-footer {
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.div-contato-footer a {
    color: var(--corPrincipal);
    font-size: 18px;
    margin: 0;
}
.div-contato-footer p {
    margin: 0;
    font-size: 12px;
    text-align: start;

}
.icon-div-contato-footer {
    filter: invert(46%) sepia(30%) saturate(4606%) hue-rotate(339deg) brightness(101%) contrast(105%);
    width: 50px;
}

.copyrigth {
    background-color: var(--corBgPreto);
    color: var(--corFonteBranco);
    padding: 20px;
    font-weight: 600;
    text-align: center;
    margin: 0;
}
.copyrigth a {
    color: var(--corFonteBranco);
    text-decoration: underline;
    font-weight: 600;
    cursor: pointer;
    margin: 0;
    padding: 0;
}
/* === FOOTER === */